@media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
    body{
       width: 100%;
        height: 100%;
    }
    .menu{
        display: none;
    }
    .mobile_menu{
        height: auto;
        width: 100%;
    }
    .wrapper_container {
        height: 100%;
        min-height:100%;
        max-width: 1070px;
        margin: 0 auto;
    }
    .main_container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        font-size: 0px;
    }
    .menu {
        width: 17%;
        float: left;
        height: 100%;
        background-color: #2a313b;
    }
    #logo {
        font-size: 20px;
        background-color: #23262b;
        color: #c9c9c9;
        text-align: center;
        font-family: Segoe UI;
        padding: 15px 0px;
        font-weight: bold;
        margin: 0px;
    }
    .menu_content {
        width: 100%;
        background-color: #2a313b;
    }
    .display_picture {
        padding: 35px 0px;
        margin: 0 auto;
        width: 73%;
    }
    #dp_name {
        background-color: #fff;
        color: #000;
        font-size: 10px;
        text-align: center;
        font-family: Segoe UI;
        font-weight: bold;
        padding: 40px 0px;
    }
    .menu_items ul li {
        font-size: 12px;
        padding: 20px 0px;
        color: #fff;
        font-family: Arial;
        cursor: pointer;
        margin: 0 auto;
        width: 100%;
    }
    .menu_items ul li:hover {
        background-color: #23262b;
    }
    .glyphicon {
        padding: 0px 10px 0 10px;
        width: 36%;
        padding-left: 25%;
    }
    #menu_item_name {
        font-family: Segoe UI;
        width: 64%;
        padding-left: 5%;
    }
    .main_content {
        width: 100%;
        float: right;
        background-color: #fff;
        height: 100%;
    }
    .main_content_header {
        width: 100%;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #c7c7c7;
        overflow: hidden;
    }
    .path_display {
        width: 50%;
        font-size: 10px;
        font-weight: bold;
        font-family: Segoe UI;
        color: #696969;
        padding: 18px 0px;
        text-align: center;
        float: left;
    }
    .profile_options {
        font-size: 10px;
        font-weight: bold;
        font-family: Segoe UI;
        color: #696969;
        padding: 18px 0px;
        text-align: center;
        width: 50%;
        float: right;
    }
    .profile_icons {
        padding: 0px 6px;
    }
    #support,
    #logout {
        width: auto;
        padding-left: 0px;
        padding-right: 5px;
    }
    .main_content_wrapper {
        height: 100%;
        width: 100%;
        margin: 0px auto;
    }
    .kyc_company_form {
        background-color: #ebebeb;
        padding: 10px 10px 0 10px;
        border-width: 1px;
        border-style: solid;
        border-color: #e3e3e3;
        height: 100%;
    }
    #kyc_headline {
        font-size: 11px;
        font-family: Segoe UI;
        font-weight: bold;
    }
    .glyphicon-minus{
        font-size: 12px;
        text-align: center;
        float: right;
        width: 0%;
        padding-left: 0px;
    }
    .glyphicon-plus{
        display: none;
        font-size: 12px;
        text-align: center;
        float: right;
        width: 0%;
    }
    #pan_card,
    #tin,
    #address_proof {
        font-size: 12px;
        font-family: Segoe UI;
        padding-bottom: 20px;
        font-weight: bold;
    }
    .pan_card_form,
    .tin_form,
    .address_proof_form {
        width: 100%;
        margin-top: 25px;
        background-color: #fff;
        overflow: hidden;
    }
    .pan_card_form_wrapper,
    .tin_form_wrapper,
    .address_proof_wrapper {
        width: 100%;
        padding: 10px;
        overflow: hidden;
    }
    .pan_card_details,
    .tin_details {
        background-color: #fff;
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .address_proof_details {
        background-color: #fff;
        width: 100%;
        float: left;
    }
    .pan_card_upload {
        height: 100px !important;
        background-color: #fff;
        width: 80%;
        margin: 0 auto;
    }
    .pan_card_upload_wrapper{
         width: 65%;
        margin: 0 auto;
        background-color: #056dff;
        text-align: center;
        padding: 18px 0px;
        border-radius: 5px;
        margin-top: 10%;
    }
    #drag_and_drop{
        font-size: 12px;
        text-align: center;
        padding:15px 0px;
        font-family: Segoe UI;
    }
    .upload_button{
        width: 100%;
        font-size: 14px;
        font-family: Segoe UI;
        color: #fff;
        text-decoration: none;
    }
    *:focus {
        outline: none;
    }
    
    #pan_card_input,
    #tin_input {
        border-width: 0px 0px 1px 0px;
        border-color: #c7c7c7;
        width: 78%;
        padding-bottom: 15px;
        margin: 15px 0px;
        color: #000;
    }
    ::-webkit-input-placeholder {
        font-size: 13px;
        font-family: Segoe UI;
        color: #808080;
    }
    ::-moz-placeholder {
        font-size: 13px;
        font-family: Segoe UI;
        color: #808080;
    }
    /* firefox 19+ */
    
    :-ms-input-placeholder {
        font-size: 13px;
        padding-bottom: 15px;
        font-family: Segoe UI;
        color: #808080;
    }
    /* ie */
    
    input:-moz-placeholder {
        font-size: 13px;
        padding-bottom: 15px;
        font-family: Segoe UI;
        color: #808080;
    }
    #radio_buttons_text {
        width: 33%;
        display:inline-block;
        font-size: 12px;
        font-family: Segoe UI;
    }
    #address_radio_buttons {
        padding: 10px 0px;
        width: 100%;
    }